# remove pycharm ide files
.idea/

# remove virtual env folder
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
.cache

# Environments
.env

ocbot/resources/help_menu.json


# Elastic Beanstalk Files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/
migrations/
