.top-buffer {
    margin-top: 20px;
}

/* layout.css Style */
.upload-drop-zone {
  height: 205px;
  width: 205px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.hidden_button {
  opacity:0;
}