.top-buffer {
    margin-top: 20px;
}

/* layout.css Style */
.upload-drop-zone {
    height: 205px;
    width: 205px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: black;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.hidden_button {
    opacity: 0;
}

.btn-group {
    border: 1px solid black; border-radius: 4px;
}

.upload-drop-zone {

    display: flex;
    align-items: center;
    justify-content: center;

}

.errorClass {
   color: red;

}



.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


